<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Category</h1>
<p>
    <a href="/list-category">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-category}" th:object="${categoryNew}" method="post">
    <table>
        <tr>
            <td>Name category:</td>
            <td><input type="text" th:field="*{category}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create category"></td>
        </tr>
    </table>
</form>
</body>
</html>
