<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    &lt;!&ndash; Required meta tags &ndash;&gt;
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet " type="text/css" href="css/style.css">
    <title>List Customer</title>
</head>
<body>
<div th:insert="~{/home/home::header}"></div>
<div class=" container">
    <div class="row">
        &lt;!&ndash;<div th:insert="~{/home/home::leftbar}"></div>&ndash;&gt;
        <div class="col-4" style="background-color: #494f54">
            <div th:replace="~{/home/home::leftbar}"></div>
        </div>
        <div class="col-8 bg-light">
            &lt;!&ndash;search&ndash;&gt;
            <form action="/contract/list" class="m-3">
                <div class="row">
                    <input class="form-control col-9 " type="search" placeholder="Year" aria-label="Search"
                           name="search">
                    <button class="btn btn-outline-secondary col-3 " type="submit">Search</button>
                </div>
                <div class="alert alert-light " role="alert" th:if="${message}">
                    <strong th:text="${message}" style="color: red ;margin: 5px"></strong>
                </div>
            </form>



            &lt;!&ndash; body&ndash;&gt;
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <th>
                    <th class="text-center">No</th>
                    <th class="text-center">date</th>
                    <th class="text-center">Service</th>
                    <th class="text-center">Attach Service</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">View</th>
                    </th>
                    </thead>
                    <tbody>
                    <th:block th:each="contract,status:${contracts}">
                        <tr>
                            <td></td>
                            <td th:text="${status.count}"></td>
                            <td th:text="${contract.customer.nameCustomer}"></td>
                            <td th:text="${contract.service.nameService}"></td>
                            <td th:text="${contract.contractDetails.}"></td>
                            <td><a th:href="@{/customer/edit/__${customer.idCustomer}__ }">
                                <button type="button" class="btn btn-secondary">Edit</button>
                            </a></td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal"
                                        th:onclick="|deleteCustomer(${customer.idCustomer})|">
                                    Delete
                                </button>
                            </td>
                            <td><a th:href="@{/customer/view/__${customer.idCustomer}__ }">
                                <button type="button" class="btn btn-warning">View</button>
                            </a></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <div>
                    <a class="btn btn-outline-secondary"
                       th:href="@{/customer(page=${customers.number - 1},search=${search})}"
                       th:if="${customers.hasPrevious()}"> <span style="font-weight: bold"> < </span>
                    </a>
                    <span th:each="p : ${#numbers.sequence(0,customers.totalPages -1)}"
                          th:if="${customers.hasContent()}">
                    <a class="btn btn-outline-secondary"
                       th:href="@{/customer(page=${p},search=${search})}" th:text="${p +1}"
                       th:if="${(p >(customers.number)-1)&&(p <(customers.number+2))}"></a>
                    </span>
                    <a class="btn btn-outline-secondary"
                       th:href="@{/customer(page=${customers.number + 1},search=${search})}"
                       th:if="${customers.hasNext()}">
                        <span style="font-weight: bold"> > </span>
                    </a>
                </div>
            </div>


            &lt;!&ndash; body&ndash;&gt;
        </div>
    </div>
&lt;!&ndash;model&ndash;&gt;
    <form action="/customer/delete" method="post">
        <div class="modal" id="exampleModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" id="id" name="id">
                    <div class="modal-body">
                        <p>Do you want to delete</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:insert="~{/home/home::fooder}"></div>
<script>
    function deleteCustomer(id) {
        document.getElementById('id').value = id;
    }
</script>


&lt;!&ndash;Script&ndash;&gt;
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
-->
