<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Blogs</h1>
<form>
    Search by name-blog or category:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<br/>
<table border="1">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Publication date</th>
        <th>Category</th>
        <th>view</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <th:block th:each="blog,state : ${blogList}">
        <tr>
            <td th:text="${state.count}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.datePublication}"></td>
            <td th:text="${blog.category.category}"></td>
            <td><a th:href="@{/view-blog/__${blog.id}__ }">View</a></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/list-blog'(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">Previous</a>
    <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>
    <a th:href="@{'/list-blog'(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">Next</a>
</div>

</body>
</html>