<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head(list)">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Product</h3>
<p>
    <a th:href="@{/product/create}">
        Add new customer
    </a>
</p>
<p>
    <a th:href="@{/product/findbyname}">
        Find by name
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="products">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Describe</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.describeProduct}"></td>
        <td th:text="${row.producer}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.id})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>