<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <h1>Giới Thiệu</h1>
<p>Người Việt trong nhiều năm trở lại đây với mức sống cao hơn, họ rời bỏ những khu phố tấp
    nập và trở về với làng quê trong các trang trại của mình hay tới các Resort nghỉ dưỡng
    vào ngày cuối tuần.Ngoài ra, một bộ phận lớn du khách nước ngoài đặc biệt là những khách
    hàng có khả năng chi trả cao – vẫn đang tìm kiếm những địa điểm mới có thể đáp ứng được
    nhu cầu nghỉ dưỡng, chữa bệnh, phục hồi sức khỏe với nhiều đòi hỏi khắt khe hơn về mặt kỹ
    thuật, nghiệp vụ cũng như kỹ năng phục vụ.</p>

<p>
    Nắm bắt được nhu cầu đó, Khu nghỉ dưỡng suối khoáng I-resort Nha Trang đã ra đời
    và phát triển theo hướng quy hoạch khu Du lịch cao cấp, sử dụng nguồn tài nguyên thiên
    nhiên bùn khoáng và nước khoáng - Nguồn nguyên liệu sẵn có của Nha Trang - Khánh Hòa,
    đưa vào dịch vụ nghỉ dưỡng chăm sóc sức khỏe, sắc đẹp, đồng thời đáp
    ứng của người già hay các đối tượng bệnh nhân có nhu cầu điều trị mãn tính phục hồi chức
    năng.

    Cách trung tâm thành phố khoảng 4km, đó là khoảng cách giúp I – resort có được sự yên
    tĩnh cần thiết để du
    khách tới đây được thư giãn tối đa với dịch vụ tắm bùn, suối khoáng. Bao bọc bởi dáng
    núi hùng vĩ và dòng
    sông Cái Nha Trang hiền hòa uốn lượn kết hợp với lối kiến trúc độc đáo sử dụng các vật
    liệu địa phương
    như gỗ, đá, lá dừa nước, khu nghỉ dưỡng I – resort hiện ra như một ốc đảo thu nhỏ, gây
    ấn tượng cho du
    khách ngay từ cái nhìn đầu tiên. Như một liệu pháp tự nhiên, không gian mộc mạc tuyệt
    đẹp này sẽ góp phần
    thanh lọc tâm hồn, mang lại cho bạn cảm giác sảng khoái thư thái cùng những chiêm nghiệm
    mới về cuộc
    sống thông qua những gói dịch vụ ngâm tắm bùn khoáng độc đáo mang đậm phong cách Spa.

</p>
<p>
    Hiệu quả của bùn khoáng trong việc chăm sóc sức khỏe, sắc đẹp và chữa bệnh đã được thế
    giới công nhận và
    biết đến từ lâu. Cho đến nay, tắm bùn – tắm khoáng vẫn là loại hình du lịch độc đáo được
    du khách trong nước
    cũng như quốc tế yêu thích. Chính vì vậy, sự ra đời của Khu nghỉ dưỡng Suối khoáng nóng
    I-resort sẽ góp phần
    chia sẻ với mọi người món quà vô giá mà thiên nhiên ban tặng, là một gam màu mới góp phần
    làm rạng rỡ bức
    tranh du lịch Nha Trang – Khánh Hòa – Việt Nam, khai thác hợp lý và sử dụng hiệu quả các
    nguồn tài nguyên
    thiên nhiên sẵn có phục vụ cho nhu cầu du lịch, nghỉ dưỡng và chữa bệnh của nhân dân địa
    phương, cũng như du
    khách trong và ngoài nước.
    Đội ngũ quản lý và tập thể nhân viên nhiệt huyết, chuyên nghiệp, niềm nở, thân thiện
    trong cung cách phụcvụ, thấm nhuần văn hóa kinh doanh. Đó cũng là những gì chúng tôi cam kết
    luôn làm hài lòng khách hàng, và luôn hướng tới mục tiêu cao hơn là đáp ứng vượt trội
    nữa những yêu cầu của du khách.I-Resort hi vọng sẽ là sự lựa chọn đầu tiên của du khách trong
    hành trình du lịch viếng thăm Nha Trang.</p>
</p>
</div>
</body>
</html>